body {
    background-color: lightgoldenrodyellow;
}
.titulo {
    text-align: center;
}
.foto {
    width: 200px;
    height: 200px;
}
.arriba {
    width:"100%";
    background-color: aquamarine;
}