body {
    background-color: lightgoldenrodyellow;
}
.titulo {
    text-align: center;
}
.foto {
    width: 30%;
    height: 30%;
}
.arriba {
    width:100%;
    height:100%;
    background-color: aquamarine;
}
.circulo{
    background-color: red;
}